    <div class="data py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
				<!--
					WYBORY PREZYDENCKIE
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/badania_img/wybory_prezydenckie.png" class="card-img-top">
						
						<!--
                        <a href="" class="btn btn-danger btn-download right-top-button_csv">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>
						<a href="" class="btn btn-danger btn-download right-top-button_txt" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"><path d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"/><path d="M13 3v6h6"/></svg>
						</a>
						-->

                        <div class="card-body">
                            <h5 class="card-title">Wybory prezydenckie</h5>

                            <p class="card-text">
								Przeprowadzamy badanie preferencji politycznych przed wyborami prezydenckimi w maju 2025 roku.
								Badanie jest realizowane na próbie 1000 internautów i będzie miało formę falową (cykliczną).
								Udostępniamy zanonimizowany zbiór danych, co stanowi cenną bazę dla analityków i osób śledzących trendy polityczne.
								Dzięki cykliczności badania możliwe będzie śledzenie zmian opinii publicznej w czasie.
								Naszym celem jest dostarczenie przejrzystych i rzetelnych danych, które mogą posłużyć szerokiemu gronu odbiorców.
								<p>
									Weź udział w badaniu, klikając <a href='https://docs.google.com/forms/d/e/1FAIpQLScZRmGJjcLQpRXrA2FeE8Pvb_kiJ7DfreDMX8Dkgo6k9NOo7A/viewform?pli=1&pli=1' target="_blank">tutaj</a>.
								</p>
                            </p>

                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>