    <div class="data py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
				<!--
					CENA ZŁOTA
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_ceny_zlota.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_ceny_zlota.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Ceny złota</h5>

                            <p class="card-text">
								Dane przedstawiają dzienną cenę złota wyrażoną w polskich złotych (PLN), począwszy od 2 stycznia 2013 roku. Każdy rekord zawiera datę oraz odpowiadającą jej cenę aktywa.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					KURSY WALUT
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_kursy_walut.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_kursy_walut.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Kursy walut</h5>

                            <p class="card-text">
								Dane przedstawiają dzienne kursy walut względem polskiego złotego (PLN), począwszy od 2 stycznia 2013 roku. Każdy rekord zawiera datę oraz odpowiadający jej kurs wymiany dla wybranej waluty.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					INFLACJA MIESIĘCZNA
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_wskanik_cpi_miesieczny.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_wskaznik_cpi_miesieczny.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Inflacja miesięczna</h5>

                            <p class="card-text">							
								Dane zawierają miesięczne wskaźniki inflacji w Polsce na ostatni dzień każdego miesiąca, wyrażone w indeksach łańcuchowych, począwszy od 31 stycznia 2013 roku. 
								Każdy rekord zawiera datę oraz odpowiadający jej wskaźnik inflacji.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					INFLACJA ROCZNA
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_wskaznik_cpi_roczny.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_wskaznik_cpi_roczny.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Inflacja roczna</h5>

                            <p class="card-text">							
								Dane zawierają roczne wskaźniki inflacji w Polsce. Zjawisko wyrażone jest w indeksach łańcuchowych, począwszy od 2010 roku. 
								Każdy rekord zawiera rok oraz odpowiadający mu wskaźnik inflacji.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					WYNAGRODZENIA W PODZIALE NA WOJEWÓDZTWA
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_wynagrodzenia_wojewodztwa.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_wynagrodzenia_wojewodztwa.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Śr. pensja - województwa</h5>

                            <p class="card-text">							
								Dane zawierają roczne średnie wynagrodzenia w Polsce w podziale na województwa. Informacje wyrażone są w polskich złotych, 
								począwszy od 2002 roku. Każdy rekord zawiera rok, nazwę województwa oraz odpowiadające mu średnie wynagrodzenie.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					WYNAGRODZENIA W POLSCE
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_wynagrodzenia_polska.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_wynagrodzenia_polska.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Śr. pensja - Polska</h5>

                            <p class="card-text">							
								Dane zawierają roczne średnie wynagrodzenia w Polsce ogółem. Informacje wyrażone są w polskich złotych, 
								począwszy od 2002 roku. Każdy rekord zawiera rok, nazwę województwa oraz odpowiadające mu średnie wynagrodzenie.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					KRYPTOWALUTY
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_kryptowaluty.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_kryptowaluty.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Kryptowaluty</h5>

                            <p class="card-text">							
								Dane zawierają codzienne notowania cen wybranych kryptowalut, takich jak BCH, BNB, BTC, DOT, EOS, ETH, LTC, XLM, XRP, YFI i LINK. 
								Informacje wyrażone są w polskich złotych (PLN). Każdy rekord zawiera datę oraz odpowiadającą jej cenę danej kryptowaluty.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					MIESZKANIA W POLSCE
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_mieszkania_polska.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_mieszkania_polska.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Mieszkania w Polsce</h5>

                            <p class="card-text">							
								Dane zawierają ilość mieszkań w Polsce, przedstawioną w podziale na region miejski i wiejski. 
								Informacje dostępne są od 2002 roku. Każdy rekord zawiera rok, typ regionu (miejski lub wiejski) oraz odpowiadającą mu liczbę mieszkań.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					MIESZKANIA W WOJEWÓDZTWACH
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_mieszkania_wojewodztwa.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_mieszkania_wojewodztwa.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Mieszkania w województwach</h5>

                            <p class="card-text">							
								Dane zawierają liczbę mieszkań w Polsce w podziale na region miejski i wiejski dla poszczególnych województw. 
								Informacje dostępne są od 2002 roku. Każdy rekord zawiera rok, nazwę województwa, typ regionu (miejski lub wiejski) oraz odpowiadającą mu liczbę mieszkań.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					CENA ZA METR KWADTAROWY MIESZKANIA W POLSCE
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_mieszkania_ceny_polska.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_mieszkania_ceny_polska.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Cena za m² w Polsce</h5>

                            <p class="card-text">							
								Dane zawierają średnia cenę transakcyjną za metr kwadratowy mieszkania w Polsce.
								Informacje dostępne są od 2010 roku. Każdy rekord zawiera rok oraz odpowiadającą mu średnia cenę za metr kwadratowy.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					CENA ZA METR KWADTAROWY MIESZKANIA W WOJEWÓDZTWACH
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_mieszkania_ceny_wojewodztwa.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_mieszkania_ceny_wojewodztwa.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Cena za m² w województwach</h5>

                            <p class="card-text">	
								Dane zawierają średnia cenę transakcyjną za metr kwadratowy mieszkania w Polsce w podziale na województwa.
								Informacje dostępne są od 2010 roku. Każdy rekord zawiera rok, województwo oraz odpowiadającą mu średnia cenę za metr kwadratowy.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					TERYT - ADMINSITRACYJNY PODZIAŁ POLSKI
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/dane_img/tab_teryt_miejscowosci.png" class="card-img-top">

                        <a href="https://github.com/WHHY100/Polska_w_liczbach_GCP/blob/main/eksport_danych/tab_teryt_miejscowosci.csv" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">TERYT - Administracyjny podział</h5>

                            <p class="card-text">	
								Dane zawierają podział administracyjny Polski zgodnie z oficjalną bazą TERYT (Krajowego Rejestru Urzędowego Podziału Terytorialnego Kraju). 
								Informacje obejmują hierarchiczną strukturę jednostek administracyjnych: województw, powiatów oraz gmin.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>