    <div class="data py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
				<!--
					MIESZKANIA W POLSCE
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/opracowania_img/gcp_ceny_mieszkan_pbix.png" class="card-img-top">

                        <a href="analizy_danych/gcp_ceny_mieszkan_pbix.pdf" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Mieszkania w Polsce</h5>

                            <p class="card-text">
								Dokument przedstawia analizę wybranych województw Polski pod względem przeciętnych cen mieszkań, wynagrodzeń oraz podaży mieszkań w latach 2010–2023.
								Informacje przedstawione są w formie wykresów w badanym okresie, na końcu dokumentu znajduje się opisowa analiza wybranych zjawisk.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					WYNAGRODZENIA I CENY ZŁOTA
				-->
				<div class="col col-md-12 col-xl-4 mt-5">
                    <div class="card h-100">
                        <img src="img/opracowania_img/gcp_inflacja_wynagrodzenia_ceny_zlota_pbix.png" class="card-img-top">

                        <a href="analizy_danych/gcp_inflacja_wynagrodzenia_ceny_zlota_pbix.pdf" class="btn btn-danger btn-download right-top-button" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z"/></svg>
						</a>

                        <div class="card-body">
                            <h5 class="card-title">Wynagrodzenia i ceny złota</h5>

                            <p class="card-text">
								Dokument przedstawia analizę średnich wynagrodzeń, wskaźnika inflacji oraz cen złota w Polsce w latach 2010–2023.
								Dane zostały zaprezentowane w formie wykresów ilustrujących dynamikę zmian w badanym okresie. Na końcu dokumentu widoczne 
								jest subiektywne podsumowanie danych przez autora.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>