    <div class="data data_main_menu py-5">
        <!--<div class="container">-->
            <div class="row row-cols-1 row-cols-md-1 row-cols-xl-3">
				<!--
					WYŚWIETL DANE DO POBRANIA
				-->
				<div class="col-md-12 col-xl-6 mb-4">
                    <div class="card h-100">
                        <img src="img/menu_gcp/hurtownia_danych.png" class="card-img-top-menu-gcp">
                        <div class="card-body">
							<div class="center_gcp_menu">
								<h5 class="card-title gcpMenuBox">
									<a class="gcpMenu" href="?page=hurtownia_danych">
										Hurtownia danych
									</a>
								</h5>
							</div>
                            <p class="card-text">
								Hurtownia danych to kompleksowe źródło informacji obejmujące różnorodne dane z wielu dziedzin, takich jak ekonomia, rynek nieruchomości, kryptowaluty, inflacja czy wynagrodzenia. 
								Dzięki starannie uporządkowanym i zintegrowanym zbiorom danych, kategoria ta stanowi nieocenione narzędzie dla analityków, badaczy i decydentów. 
								Każdy zestaw danych został przygotowany z myślą o przejrzystości i możliwości przeprowadzenia zaawansowanych analiz. 
								Wejdź, by odkryć bogactwo danych i zyskać pełny obraz interesujących Cię zagadnień.
                            </p>

                        </div>
                    </div>
                </div>
				<!--
					WYŚWIETL OPRACOWANIA DANYCH
				-->
				<div class="col-md-12 col-xl-6 mb-4">
                    <div class="card h-100">
                        <img src="img/menu_gcp/opracowania_danych.png" class="card-img-top-menu-gcp">
                        <div class="card-body">
							<div class="center_gcp_menu">
								<h5 class="card-title gcpMenuBox">
									<a class="gcpMenu" href="?page=opracowania_danych">
										Opracowania danych
									</a>
								</h5>
							</div>

                            <p class="card-text">
								Opracowania danych to kategoria prezentująca gotowe analizy w postaci czytelnych wykresów i zestawień, wzbogaconych o subiektywne wnioski badacza. 
								Dane pochodzą z hurtowni danych i zostały starannie opracowane, aby dostarczyć wartościowych spostrzeżeń oraz zrozumiałych interpretacji kluczowych trendów. 
								Ta sekcja jest idealna dla osób poszukujących gotowych wniosków i wizualizacji, które ułatwiają zrozumienie złożonych procesów i zależności. 
								Wejdź, aby odkryć dane w nowym świetle i zyskać głębszy wgląd w analizowane zagadnienia.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>